.title {
  color: #52eb52;
  text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
    3px 4px 4px rgba(179, 147, 211, 0.15), 4px 6px 4px rgba(179, 147, 211, 0.2),
    5px 8px 4px rgba(179, 147, 211, 0.25);
}

.header {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 900;
  color: #2a363b;
}

.link {
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.link:hover {
  color: rgb(56, 6, 136);
}

.active {
  font-weight: 700;
  text-decoration: none;
  color: rgb(197, 44, 44);
}
